{% assign mailchimp-action-code = "//thesubstation.us5.list-manage.com/subscribe/post?u=21cfc09295377f72f03e377c6&amp;id=f0c98b414b" %}
{% assign mailchimp-name-code = "b_21cfc09295377f72f03e377c6_f0c98b414b" %}

<div id="mc_embed_signup" class="">
	<form action="{{ mailchimp-action-code }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
			<div class="mc-field-group">

                <div class="Grid">
                    <div class="Grid-cell u-sm-size7of12">
                        <!-- <label for="mce-EMAIL">Add your email</label> -->
                        <input class="" id="mce-EMAIL" type="email" value="" name="EMAIL" placeholder="get news. add your email here" required>
                        <div style="position: absolute; left: -5000px;"><input type="text" name="{{ mailchimp-name-code }}" tabindex="-1" value=""/></div>
                    </div>
                    <div class="Grid-cell u-sm-size4of12 u-sm-spaceT u-sm-spaceLN1">
                        <input class="Button t-button t-button--full" id="mc-embedded-subscribe" type="submit" value="signup" name="subscribe">
                    </div>
                </div>

			</div>
		</div>
	</form>
</div>
