{% comment %} {{ page.slug }} c-nav u-flexJustifyAround
<div>
    <a href="tel:{{ site.phone }}">T: {{ site.phone }}</a>
    <br>
    <a href="mailto:{{ site.email }}">E: {{ site.email }}</a>
</div>
FlexGrid FlexGrid--spaceBetween {% endcomment %}

<footer class="m-t2 b-pb2">

  {% if page.layout == 'post' or page.layout == 'page' or page.layout contains 'protected' or page.url == '/404.html' %}
    <hr class="">
    <div class="b-py1">
      <div class="Container Container--lg">
        <div class="Nav m-t2 f-mdl f-justifyBetween u-hidden">
          
          {% for item in site.data.navigation.header %}
          <div class="Nav-item
            {% if page.url != '/' and page.url contains item.url %}is-active
            {% elsif page.url contains 'show' and page.categories contains item.categories %}is-active
            {% endif %}">
            <a class="Meta fw-500" href="{{ item.url }}">
              {{ item.title }}
            </a>
          </div>
          {% endfor %}
          {% for item in site.data.navigation.secondary %}
          <div class="Nav-item
            {% if page.url != '/' and page.url contains item.url %}is-active
            {% elsif page.url contains 'show' and page.categories contains item.categories %}is-active
            {% endif %}">
            <a class="Meta fw-500" href="{{ item.url }}">
              {{ item.title }}
            </a>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  {% endif %}

  <div class="Container Container--lg">
    <div class="FlexGrid">
      <div class="Meta-block c-block-text-mid">
        <ul class="u-listUnstyled flh-footer m-mo-b4">
          <li>
            <a href="{{ site.address-link }}">
              {{ site.address }}
              <br> {{ site.address-second }}
            </a>
          </li>
          <li>
            <a href="tel:{{ site.phone }}">T: {{ site.phone }}</a>
          </li>
        </ul>
      </div>
      <div class="Meta-block c-block-text-mid">
        <ul class="u-listUnstyled flh-footer m-mo-b4">
          <li>Gallery: {{ site.gallery-hours }}</li>
          <li>Office: {{ site.office-hours }}</li>
          <li>
            <a href="mailto:{{ site.email }}">E: {{ site.email }}</a>
          </li>
        </ul>
      </div>
      <div class="Meta-block c-block-text-mid">
        {% include socials.html %}
      </div>

      {% unless page.layout contains 'protected' %} {% include form-news-signup.html %} {% endunless %}

    </div>
    <div class="b-pt075">
      <p class="fs-text-sm c-text-light w-sm-8x12">
        The SUBSTATION acknowledges that we are located on the traditional lands of the Boon Wurrung people of the Kulin Nation. We extend our respects to their ancestors and elders past, present and emerging, and to all First Nations people.
      </p>
    </div>
  </div>

  <div class="u-md-hidden">
    <hr class="b-my1 bg-rule">
    <div class="Container Container--lg">
      <div class="flh-footer-block" id="nav">
        <div class="Nav-item {% if page.url == '/' %}is-active{% endif %}">
          <a class="Meta c-text-mid" href="/">Home</a>
        </div>

        {% include nav.html %}

        <a class="u-iconWrapper u-footerRowItem" href="#top">
          <span class="u-icon c-text-mid">
            <svg height="11" width="11">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-up"></use>
            </svg>
          </span>
          <span class="Meta c-text-mid">
            Back to top
          </span>
        </a>

      </div>
    </div>
  </div>
</footer>