{% comment %}
{{ page.slug }}
c-nav u-flexJustifyAround
<div>
    <a href="tel:{{ site.phone }}">T: {{ site.phone }}</a><br>
    <a href="mailto:{{ site.email }}">E: {{ site.email }}</a>
</div>
o-grid o-grid--spaceBetween
{% endcomment %}

<footer
    class="c-footer
    {% if page.layout == 'post' or page.layout == 'page' and page.url != '/404.html' %} c-footer--rule{% endif %}">

    {% if page.layout == 'post' or page.layout == 'page' or page.url == '/404.html' %}
        <div class="c-footer-nav c-nav">
            {% include nav.html %}
        </div>
    {% endif %}

	<div class="c-footer-info">
	    <div class="o-container">
            <div class="u-sm-size9of10">
                <div class="c-footer-infoBlockWrapper">
                    <div class="">
                        <a href="{{ site.address-link }}">{{ site.address }}<br>{{ site.address-second }}</a><br>
                        <a href="tel:{{ site.phone }}">T: {{ site.phone }}</a>
                    </div>
                    <div class="">
                        <span>Gallery: {{ site.gallery-hours }}</span><br>
                        <span>Office: {{ site.office-hours }}</span><br>
                        <a href="mailto:{{ site.email }}">E: {{ site.email }}</a>
                    </div>
                    <div class="">
                        {% include socials.html %}
                    </div>
                </div>
            </div>

            {% if page.layout == 'post' or page.layout == 'page' %}
                <a class="u-footerBackTop" href="#top">↑ Back to top</a>
            {% endif %}

	    </div>
	</div>

    {% comment %}
    {% if page.layout == 'post' %}
        <div class="u-smDown-blockB--3by4 u-sm-blockB--1by3
            {% unless page.layout == 'post' %}c-footer-hideMobileLogo{% endunless %}">
            <a href="/" class="c-footer-logo">
                <img class="" src="{{ site.imageurl }}logo.png" alt="{{ site.title }}" />
            </a>
        </div>
    {% endif %}
    {% endcomment %}

    <div class="c-footer-block u-sm-hide">
        <div class="o-container">
            <div class="Grid-cell" id="nav">

                <div class="c-nav-item {% if page.url == '/' %}is-active{% endif %}">
                    <a class="" href="/">Home</a>
                </div>

                {% include nav.html %}

                <a class="u-footerRowItem" href="#top">Back to top ↑</a>

            </div>
        </div>
    </div>

</footer>
