{% comment %}
{{ page.slug }}
{% endcomment %}

<footer class="c-footer c-site-footer{% if page.layout == 'post' %} c-footer--post{% endif %}">

    {% if page.layout == 'post' %}
        <div class="c-footer-nav c-nav">
            {% include nav.html %}
        </div>
    {% endif %}

	<div class="{% if page.layout == 'post' %}c-footer-block{% endif %}">
	    <div class="o-container">

            {% if page.layout == 'post' %}
                <div class="u-smDown-blockB--3by4 u-sm-blockB--1by3
                    {% unless page.layout == 'post' %}c-footer-hideMobileLogo{% endunless %}">
                    <a href="/" class="c-footer-logo">
                        <img class="" src="{{ site.imageurl }}logo.png" alt="{{ site.title }}" />
                    </a>
                </div>
            {% endif %}

            <div class="Grid Grid--withGutter">
                <div class="Grid-cell u-sm-size4of10">

                    <ul class="o-listClean">
                        <li><a href="{{ site.address-link }}">{{ site.address }}<br>{{ site.address-second }}</a></li>

                        <li class="u-spaceTD2"><a href="tel:{{ site.phone }}">T: {{ site.phone }}</a></li>
                        <li><a href="mailto:{{ site.email }}">E: {{ site.email }}</a></li>

                        <li class="u-spaceTD2">Gallery: {{ site.gallery-hours }}</li>
                        <li>Office: {{ site.office-hours }}</li>
                    </ul>

                    <div class="c-footer-socialBlock">
                        {% include socials.html %}
                    </div>

                </div>
            </div>
	    </div>
	</div>



    <div class="c-footer-block u-sm-hide">
        <div class="o-container">
            <div class="Grid-cell" id="nav">

                <div class="c-nav-item {% if page.url == '/' %}is-active{% endif %}">
                    <a class="" href="/">Home</a>
                </div>

                {% include nav.html %}

            </div>
        </div>
    </div>

</footer>
