{% comment %}
<p class="c-formWrapper-note">
    To hire this space please fill in this form, or contact our Events Manager, Marisa Fiume, during office hours on <a href="tel:{{ site.phone }}">{{ site.phone }}</a> or via <a href="mailto:{{ site.email-events }}">{{ site.email-events }}</a>.
</p>
To hire this space please fill in this form:
{% endcomment %}

<div class="c-formWrapper-note">
    Hire this space
</div>

<div class="c-formWrapper">
    <form class="c-form" id="contact-form" accept-charset="UTF-8" action="https://formspree.io/{{ site.email-events }}" method="POST">

        <label class="c-form-labelBlock u-marginT0">Name (Required)<input name="name" type="text" placeholder="Your Name" required/></label>
        <label class="c-form-labelBlock">Email (Required)<input name="_replyto" type="email" placeholder="Your Email" required/></label>
        
        <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-sm-size1of2">
                    <label class="c-form-labelBlock">Phone (Required)<input name="telephone" type="tel" placeholder="Your Phone Number" required/></label>
            </div>
            <div class="Grid-cell u-sm-size1of2">
                <label class="c-form-labelBlock">Post code<input name="post-code" type="text" placeholder="Your post code"/></label>
            </div>
        </div>

        <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-sm-size1of2">
                <label class="c-form-labelBlock">Date (Required)<input name="date" type="date" placeholder="Date" required/></label>
            </div>
            <div class="Grid-cell u-sm-size1of2">
                <label class="c-form-labelBlock">Guests<input name="guests" type="text" placeholder="How many?"/></label>
            </div>
        </div>

        <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-sm-size1of2">
                <label class="c-form-labelBlock" for="event">Event type</label>
                <div class="select">
                    <select aria-label="Select menu example">
                        <option selected>What type of event is this?</option>
                        <option value="1">Wedding</option>
                        <option value="2">Corporate</option>
                        <option value="3">Community</option>
                    </select>
                </div>
            </div>
            <div class="Grid-cell u-sm-size1of2">
                <label class="c-form-labelBlock" for="event">Where did you hear about us?</label>
                <div class="select">
                    <select aria-label="Select menu example">
                        <option selected>Please choose one</option>
                        <option value="1">Wedding blog</option>
                        <option value="2">Instagram</option>
                        <option value="3">Facebook</option>
                        <option value="4">Magazine</option>
                        <option value="5">Word of mouth</option>
                        <option value="6">Other</option>
                    </select>
                </div>
            </div>
        </div>


        <!-- CONFIG -->
        <input class="u-hide" type="text" name="_gotcha">
        <input type="hidden" name="_subject" value="Event inquiry">
        <input type="hidden" name="_cc" value="{{ site.email }}">
        <!-- /CONFIG -->

        <p class="u-textRight u-spaceT u-posRelative">
            <input type="submit" value="Send" role="button" class="Button t-button t-button--lineHeight u-posRelative">
        </p>

    </form>
</div>
