{% comment %}
<p class="c-formWrapper-note">
  To hire this space please fill in this form, or contact our Events Manager, Marisa Fiume, during office hours on <a href="tel:{{ site.phone }}">{{
    site.phone }}</a> or via <a href="mailto:{{ site.email-events }}">{{ site.email-events }}</a>.
</p>
To hire this space please fill in this form: {% endcomment %}

<h2 class="Heading b-mt1">
  Hire this space
</h2>

<div class="FormWrapper">
  <form class="Form" id="contact-form" accept-charset="UTF-8" action="https://formspree.io/{{ site.email-events }}" method="POST">

    <p class="Text">
      <label class="fs-text-sm">Name (Required)</label>
      <input name="name" type="text" placeholder="Your Name" required/>
    </p>
    <p class="Text">
      <label class="fs-text-sm">Email (Required)</label>
      <input name="_replyto" type="email" placeholder="Your Email" required/>
    </p>

    <div class="FlexGrid">
      <p class="Text">
        <label class="fs-text-sm">Phone (Required)</label>
        <input name="telephone" type="tel" placeholder="Your Phone Number" required/>
      </p>
      <p class="Text">
        <label class="fs-text-sm">Post code</label>
        <input name="post-code" type="text" placeholder="Your post code" />
      </p>
    </div>

    <div class="FlexGrid">
      <p class="Text">
        <label class="fs-text-sm">Date (Required)</label>
        <input name="date" type="date" placeholder="Date" required/>
      </p>
      <p class="Text">
        <label class="fs-text-sm">Guests</label>
        {%- comment -%} <input name="guests" type="text" placeholder="How many?" class="Test" disabled /> {%- endcomment -%}
        <input name="guests" type="text" placeholder="How many?" />
      </p>
    </div>

    <div class="FlexGrid ">
      <div class="Text w-sm-1x2">
        <label class="fs-text-sm" for="event">Event type</label>
        <div class="select">
          <select name="event-type" aria-label="Select menu">
            <option selected>What type of event is this?</option>
            <option value="1">Wedding</option>
            <option value="2">Corporate</option>
            <option value="3">Community</option>
          </select>
        </div>
      </div>
      <div class="Text w-sm-1x2">
        <label class="fs-text-sm" for="wherefrom">Where did you hear about us?</label>
        <div class="select">
          <select name="where-hear-from" aria-label="Select menu">
            <option selected>Please choose one</option>
            <option value="1">Wedding blog</option>
            <option value="2">Instagram</option>
            <option value="3">Facebook</option>
            <option value="4">Magazine</option>
            <option value="5">Word of mouth</option>
            <option value="6">Other</option>
          </select>
        </div>
      </div>
    </div>

    <p class="Text">
      <label class="fs-text-sm">Event details</label>
      <textarea type="message" name="message" rows="4" placeholder="Tell us about your event"></textarea>
    </p>

    <!-- CONFIG -->
    <input class="u-hidden" type="text" name="_gotcha">
    <input type="hidden" name="_subject" value="Event inquiry">
    <input type="hidden" name="_cc" value="{{ site.email }}">
    <!-- CONFIG -->

    <p class="u-textRight m-b0">
      <input type="submit" value="Send" role="button" class="Meta Button">
    </p>

  </form>
</div>