{% assign mailchimp-action-code = "//thesubstation.us5.list-manage.com/subscribe/post?u=21cfc09295377f72f03e377c6&amp;id=f0c98b414b" %}
{% assign mailchimp-name-code = "b_21cfc09295377f72f03e377c6_f0c98b414b" %}

<div id="mc_embed_signup" class="c-footer-newsForm">
    <form class="validate u-space0" action="{{ mailchimp-action-code }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">

                <div class="Grid">
                    <div class="Grid-cell u-sm-size1of2">
                        <input class="" id="mce-EMAIL" type="email" value="" name="EMAIL" placeholder="add your email" required>
                        <div style="position: absolute; left: -5000px;"><input type="text" name="{{ mailchimp-name-code }}" tabindex="-1" value=""/></div>
                    </div>
                    <div class="Grid-cell u-sm-size1of2 u-sm-spaceLN1 u-flex">
                        <input class="Button t-button t-button--full t-button--lineHeight u-flexAlignSelfEnd" id="mc-embedded-subscribe" type="submit" value="get news" name="subscribe">
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>