<form class="c-form" id="contact-form" accept-charset="UTF-8" action="https://formspree.io/{{ site.email-events }}" method="POST">

    <label>Name*</label><input name="name" type="text" placeholder="Your Name" required/>
    <label>Catering requirements</label><textarea name="catering" type="message" rows="3" placeholder="What kind of food will you want?"></textarea>

    <!-- CONFIG -->
	<input class="u-hide" type="text" name="_gotcha">
	<input type="hidden" name="_subject" value="Event inquiry">
	<input type="hidden" name="_cc" value="{{ site.email }}">
	<!-- /CONFIG -->

    <p class="u-textRight u-spaceT">
        <button type="submit" value="Send" role="button" class="Button t-button--secondary">Send</button>
    </p>

</form>
