<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo title=false %}

    <title>{% if page.url != '/' %}{{ page.title | escape }} ~ {% endif %}{{ site.title | escape }}</title>

    <!-- <link rel="stylesheet" href="{{ "/assets/stylesheets/fonts.css" | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" href="{{ "/assets/stylesheets/application.css" | prepend: site.baseurl }}">

    {% feed_meta %}
</head>
