{% comment %}
    {% if page.url != '/' and page.url contains item.url and page.tag != 'archive' %}is-active{% endif %}
    {% elsif page.categories contains item.categories %}is-active
{% endcomment %}

<header class="c-header c-site-header">
    <div class="o-container">

        <div class="c-header-brand">
            <div class="Grid Grid--withGutter">
                <div class="Grid-cell u-sm-size7of10">
                    <a href="/" class="c-header-logo">
                        <img class="" src="{{ site.imageurl }}logo.png" alt="{{ site.title }}" />
                    </a>
                </div>

                {% comment %}
                <div class="Grid-cell u-sm-size3of10">
                    <!-- u-flex u-flexAlignItemsEnd -->
                    <div>
                        {% include socials.html %}
                    </div>
                    <div class="c-header-infoAlign">
                        <a class="c-header-info" href="{{ site.address-link }}">1 Market Street, Newport</a><br>
                        <span class="c-header-info">{{ site.gallery-hours }}</span>
                    </div>
                </div>
                {% endcomment %}

            </div>
        </div>



        {% comment %}
        <div class="c-nav">
            {% include nav.html %}
        </div>
        {% endcomment %}

        <a class="c-nav-trigger" href="#nav">menu</a>

    </div>

    <div class="c-nav">
        {% include nav.html %}
    </div>

    
</header>
