{% comment %}
    {% if page.url != '/' and page.url contains item.url and page.tag != 'archive' %}is-active{% endif %}
    {% elsif page.categories contains item.categories %}is-active
{% endcomment %}

<header class="c-header c-site-header">
    <div class="o-container">

        <a href="/" class="c-header-logo">
            <img class="" src="{{ site.imageurl }}logo.png" alt="{{ site.title }}" />
        </a>

        <div class="c-subscribeForm u-size3of10">
            {% include enews-form.html %}
        </div>

        <div class="c-nav">
            {% include nav.html %}
        </div>

        <a class="c-nav-trigger" href="#nav">menu</a>

    </div>
</header>
