{% comment %}
{% if page.url != '/' and page.url contains item.url and page.tag != 'archive' %}is-active{% endif %}
{% elsif page.categories contains item.categories %}is-active
{% endcomment %}

{%- comment -%} <nav class="b-py1" role="navigation"> {%- endcomment -%}

<nav class="FixedNavOnScroll b-py1" id="js-navbar" role="navigation">
  <div class="Container Container--lg h-auto">
    <div class="b-mdl-pb1 u-relative">
      <div class="f f-justifyBetween">
        <a href="/" class="Nav-logo">
          <img class="" src="{{ site.imageurl }}logo.png" alt="{{ site.title }}" />
        </a>
        <a class="Nav-trigger Button Button--transparent p-r0 Meta u-mdl-hidden js-modal-trigger" href="#">
          menu
        </a>
      </div>
    </div>
  </div>

  <div class="Container Container--lg h-auto">
    {%- comment -%} <div class="Nav GutterInsetX f-sm f-justifyBetween u-mo-hidden"> {%- endcomment -%}
    <div class="Nav f-mdl f-justifyBetween u-hidden">
      
      {% for item in site.data.navigation.header %}
      <div class="Nav-item
        {% if page.url != '/' and page.url contains item.url %}is-active
        {% elsif page.url contains 'show' and page.categories contains item.categories %}is-active
        {% endif %}">
        <a class="Meta fw-500" href="{{ item.url }}">
          {{ item.title }}
        </a>
      </div>
      {% endfor %}

      <div class="SecondNav">
        <div class="Nav-item Nav-secondary u-mo-hidden">
          <span class="Meta fw-500">
            {%- comment -%} More  {%- endcomment -%}
            <svg class="u-icon" height="18" width="18">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-more"></use>
            </svg>
          </span>
        </div>
        <div class="SecondNav-container">
          {% for item in site.data.navigation.secondary %}
          <div class="Nav-item
            {% if page.url != '/' and page.url contains item.url %}is-active
            {% elsif page.url contains 'show' and page.categories contains item.categories %}is-active
            {% endif %}">
            <a class="Meta fw-500" href="{{ item.url }}">
              {{ item.title }}
            </a>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</nav>