
<div class="AspectRatio Hero{% if page.is-half-hero %} Hero--half{% endif %}">
  {% if page.video %}
    <iframe
      class="AspectRatio-object"
      frameborder="0" allowtransparency="true" allowfullscreen="" width="100%" height="100%"
      src="https://player.vimeo.com/video/{{ page.video }}?background=1"
    ></iframe>
  {% elsif page.image %}
  <div
    class="AspectRatio-object CoverImage"
    style="background-image: url('{{ page.image }}')">
  </div>
  {% endif %}
  <div class="AspectRatio-object Hero-darken">
    <div class="f-childrenCenter">
      <div class="Hero-hgroup">
        <h1 class="Supertitle">{{ page.title }}</h1>
        {% if page.presented-by %}
          <div class="Meta fs-text-lg fw-500 c-bg u-textCenter m-b4">{{ page.presented-by }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
