{% comment %}
    {% if page.url contains page.slug %} u-hide{% endif%}
{% endcomment %}

<a class="c-postCell" href="{{ post.url }}">
    <div class="FlexEmbed">
        <div class="FlexEmbed-ratio"></div>
        <div
            class="FlexEmbed-content c-postCell-image"
            style="background-image: url('{{ post.image | remove: ".jpg" | append: "-thumb.jpg" }}')"
            >
            <div class="o-aligner">
                <div class="o-aligner-item">
                    <h1 class="c-postCell-headline">{{ post.title }}</h1>

                    {% if post.datetime %}
                        {% if post.is-year-duration == true %}
                            <date class="c-postCell-subheadline">{{ post.datetime | first | date: "%Y" }}</date>
                        {% elsif post.datetime.size == 1 or post.is-single-date %}
                            <date class="c-postCell-subheadline">{{ post.datetime | first | date: "%B %d %Y" }}</date>
                        {% elsif post.is-months-duration == true %}
                            <date class="c-postCell-subheadline">{{ post.datetime | first | date: "%B" }} - {{ post.datetime | last | date: "%B %Y" }}</date>
                        {% else %}
                            <date class="c-postCell-subheadline">{{ post.datetime | first | date: "%B %d" }} - {{ post.datetime | last | date: "%B %d %Y" }}</date>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>

    </div>
</a>
