{% comment %}
ORIG: {% assign sortedPosts = (site.categories[categoryName] | sort: "date" ) | reverse %}
NO, ERRORS: {% assign sortedPosts = (site.categories[categoryName] | sort: "datetime" ) | reverse %}
NO: {% assign sortedPosts = (site.categories[categoryName] | sort: "datetime", "first" ) | reverse %}
NO: {% assign sortedPosts = (site.categories[categoryName] | sort: "datetime" | first ) | reverse %}

{{ post.datetime[0] }}

{% endcomment %}

{% comment %}
<div class="FlexGrid c-postGrid">

    {% capture firstDate %}
    {% for date in post.datetime %}
    {{ datetime[0] }}
    {% endfor %}
    {% endcapture %}

    {% assign sortedPosts = (site.categories[categoryName] | sort: "firstDate" ) | reverse %}
    {% for post in sortedPosts %}
    {% include post-list-item.html %}
    {% endfor %}

</div>



<div class="FlexGrid c-postGrid">

    {% assign categoryPosts = site.categories[categoryName] %}
    {% assign postDates = post.datetime %}

    {% for item in postDates %}
    {% assign first = forloop.first %}
    {{ item[first] }}
    {% endfor %}

    {% for post in categoryPosts %}
    {% include post-list-item.html %}
    {% endfor %}

</div>



<div class="FlexGrid c-postGrid">

    {% capture firstDate %}
    {% for datetime in post.datetime %}
    {{ datetime[0] }}
    {% endfor %}
    {% endcapture %}

    {% assign categoryPosts = site.categories[categoryName] %}

    {% for post in categoryPosts | sort: "firstDate" %}
    {% include post-list-item.html %}
    {% endfor %}

</div>

{{ post.datetime[0] }}

{% endcomment %}

<div class="FlexGrid c-postGrid">
    {% assign categoryPosts = (site.categories[categoryName] | sort) %}
    {% for post in categoryPosts %}

    {% include post-list-item.html %}
    {% endfor %}
</div>