<a class="u-iconWrapper" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}">
    <svg class="u-icon u-icon--xl">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-facebook-stroke"></use>
    </svg>
</a>
<a class="u-iconWrapper" href="https://twitter.com/intent/tweet?source=&text=via @thesubstation_ {{ page.excerpt | strip_html }}&url={{ page.url | prepend: site.url }}"
    target="_blank">
    <svg class="u-icon u-icon--xl">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-twitter-stroke"></use>
    </svg>
</a>
<a class="u-iconWrapper" href="mailto:?subject=Check out {{ page.title }} at {{ site.title }}&body={{ page.excerpt | strip_html }} …read it all here: {{ page.url | prepend: site.url }}"
    target="_blank">
    <svg class="u-icon u-icon--xl">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-email-stroke"></use>
    </svg>
</a>