<ul class="u-listUnstyled flh-footer m-mo-b4">
  <li>
    <a class="" href="{{ site.social.links[0] }}">
      <span class="u-icon c-text-mid m-r2">
        <svg height="11" width="11">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-facebook"></use>
        </svg>
      </span>
      Facebook
    </a>
  </li>
  <li>
    <a class="" href="{{ site.social.links[1] }}">
      <span class="u-icon c-text-mid m-r2">
        <svg height="11" width="11">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-instagram"></use>
        </svg>
      </span>
      Instagram
    </a>
  </li>
  <li>
    <a class="" href="{{ site.social.links[2] }}">
      <span class="u-icon c-text-mid m-r2">
        <svg height="11" width="11">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-twitter"></use>
        </svg>
      </span>
      Twitter
    </a>
  </li>
</ul>