<ul>
    <li>
        <a class="o-iconWrapper" href="{{ site.social.links[0] }}">
            <svg class="o-icon o-icon--sm o-icon--left u-colorMedium">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-facebook"></use>
            </svg>
            Facebook
        </a>
    </li>
    <li>
        <a class="o-iconWrapper" href="{{ site.social.links[1] }}">
            <svg class="o-icon o-icon--sm o-icon--left u-colorMedium">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-instagram"></use>
            </svg>
            Instagram
        </a>
    </li>
    <li>
        <a class="o-iconWrapper" href="{{ site.social.links[2] }}">
            <svg class="o-icon o-icon--sm o-icon--left u-colorMedium">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-twitter"></use>
            </svg>
            Twitter
        </a>
    </li>
</ul>
