<a class="o-iconWrapper" href="{{ site.social.links[0] }}">
    <svg class="o-icon o-icon--md">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-facebook-2"></use>
    </svg>
</a>
<a class="o-iconWrapper" href="{{ site.social.links[1] }}">
    <svg class="o-icon o-icon--md o-icon--right">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-instagram-2"></use>
    </svg>
</a>
<a class="o-iconWrapper" href="{{ site.social.links[2] }}">
    <svg class="o-icon o-icon--md o-icon--right">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-twitter-2"></use>
    </svg>
</a>
