.NewsletterSignup {
  background-color: var(--c-white);
  border: 1px solid var(--c-rule);
}

.NewsletterSignup input {
  border: 0;
}

/* 

  Venue hire form

*/

.Form {
  margin-bottom: 0;
}
.Form .Text {
  margin-bottom: calc(2 * var(--s-paragraph));
}
.Form label {
  margin-bottom: calc(0.25 * var(--s-paragraph));
}


.FormWrapper {
  background-color: rgba(5, 5, 5, 0.05 );
  margin-top: var(--s-2);
  padding: var(--s-2);

  @media (--lg) {
    padding: var(--s-4);
  }
}