.NewsletterSignup {
  background-color: var(--c-white);
  border: 1px solid var(--c-rule);
}

.NewsletterSignup input {
  border: 0;
}

/* venue form */

.Form p {
  margin-bottom: calc(2 * var(--s-paragraph));
}

.c-formWrapper-note {
  line-height: 1;
  background-color: rgba( palette(brand), 0.15 );
  margin: $blockSpace 0 0;
  padding: space(0.5) space(1);

  @media (--lg) {
    padding: space(1.333) space(2) space(1);
  }

  ~ .c-formWrapper {
    margin-top: 0;
    padding-top: space(0.75);

    @media (--lg) {
      padding-top: space(1.5);
    }
  }
}

.c-formWrapper {
  background-color: rgba(5, 5, 5, 0.05 );
  margin-top: var(--s-2);
  padding: var(--s-2);

  @media (--lg) {
    padding: var(--s-4);
  }
}