.Hero2 {
  background-color: var(--c-text);
  border: 1px solid var(--c-bg);
  border-bottom: 0;
  padding-bottom: 62.5%; 
  padding-bottom: 56.25%; 

  /* @media (--sm) { 
    padding-bottom: 56.25%; 
  }
  @media (--xl) { 
    padding-bottom: 50%; 
  }
  @media (--su) { 
    padding-bottom: 40%; 
  } */
}



.Hero2-hgroup {
  color: var(--c-bg);
  margin-bottom: 1px;
  /* padding: calc(1 * var(--rs-space)) calc(1.5 * var(--rs-space)); */
  padding-top: calc(0.25em + (2 * var(--rs-space)));
  padding-bottom: calc(2 * var(--rs-space));

  @media (--lg) {
    
  }

  & .Post-meta {
    padding-left: 0;
  }
  & .Post-meta:last-of-type {
    padding-right: 0;
  }
}

.Hero2-by {
  position: relative;
  margin-top: calc(-1 * var(--s-1));
}
