.PostList > * {
  /* flex-basis: calc(100% / 2); */
  
  @media (--sm) { 
    flex-basis: calc(100% / 3); 
  }
  
  @media (--xl) { 
    flex-basis: calc(100% / 5); 
  }

  /* @include when-inside(".c-post-info") {
    margin: 0;
    flex-basis: calc(100% / 4);
    @media (--sm) { flex-basis: calc(100% / 7); }
  } */
}

.three .PostList-item { 
  @media (--sm) { 
    flex-basis: calc(100% / 3); 
  }
}

.four .PostList-item { 
  @media (--sm) { 
    flex-basis: calc(100% / 4); 
  } 
}

.PostList .AspectRatio {
  padding-bottom: 35vh;

  @media (--sm) { 
    padding-bottom: 25vh; 
  }
  @media (--md) { 
    padding-bottom: 50vh; 
  }
}

.NextPostList .PostList > * {
  @media (--sm) { flex-basis: calc(100% / 5); }
}

.NextPostList .PostList .AspectRatio {
  padding-bottom: 20vh;
}


/* PostList V2 */

.PostList2 {
  justify-content: center;
}






/* PostList item */

.PostList-year {
  border-top: 1px solid var(--c-bg);
  flex-basis: 100%;
}
.PostList-year h2 {
  padding-top: calc(1.25 * var(--button-text-alignment));
}


/* PostList item */

.PostList-item {
  /* border: 0; */
  border: 0.5px solid var(--c-bg);
  display: block;
  position: relative;
  overflow: hidden;

  & > * {
    /* margin: 1px 0.5px 0; */
  }

  & .PostList-item-image img,
  & .PostList-item-text,
  & date {
    transition: all 500ms ease-in-out;
  }

  & date {
    color: var(--c-text-light);
  }

  &:hover,
  &:active {
    & .PostList-item-image img,
    & .PostList-item-text,
    & date {
      transition: all 150ms ease-in-out;
    }

    & .PostList-item-image img {
      filter: grayscale(0);
    }
    & .PostList-item-image:after {
      background-color: rgba(0,0,0,0.3);
    }

    & date {
      color: var(--c-bg);
    }

    & .PostList-item-image img {
      transform: scale(1.025);
    }
    & .PostList-item-text {
      transform: scale(1.1);
    }
  }
}

.PostList-item-image:after {
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.7);
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  transition: all 500ms ease-in-out;
}

.PostList-item-image img {
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.7);
  filter: grayscale(100%);
  transition: all 500ms ease-in-out;
}

.PostList-item.has-video .PostList-item-image {
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.PostList-item.has-video:hover .PostList-item-image {
  opacity: 0;
  transition: all 150ms ease-in-out;
}

/* test */
.PostList-item-dev {
  background-color: var(--c-bg);
  border-radius: 999px;
  position: absolute;
  top: calc(2 * var(--rs-space));
  right: calc(2 * var(--rs-space));
  height: 44px;
  line-height: 44px;
  width: 44px;
  text-align: center;
  padding-top: 0.25em;
}