/* Post info block */

.Post-details {
  position: relative;
  
  @media (--lg) {
    height: 0;
    /* height: calc(220px * 0.5); */
  }
}

.Post-details-envelope {
  @media (--lg) {
    margin: 0;
    transform: translateY(-100%);
    /* transform: translateY(-49.75%); */
    width: 100%;
  }
}

.Post-meta-container {
  background-color: var(--c-rule);
  padding-left: var(--flex-grid-gutter);
  padding-right: var(--flex-grid-gutter);

  @media (--sm) {
    background-color: var(--c-bg);
  }

  @media (--lg) {
    min-height: 90px;
  }

  /* tests */
  /* border: 1px solid var(--c-text); */
  /* border-top: 0; */
}

.Post-tagline-container {
  padding-top: calc(0.625em + var(--s-3));
  padding-bottom: var(--s-3);
}

/* Post info type blocks */

.Post-meta {
  margin: 0;
  padding: calc(1 * var(--rs-space));

  /* borders */
  border-bottom: 1px solid var(--c-text);

  /* + .c-post-meta { margin-left: -1px; }
  @include after-first(4) { border-top: 0; }
  &:nth-child(5) { margin-left: 0; } */

  @media (--lg) {
    border: 0;
    min-height: 100%;
    min-height: 90px;
    margin: 0;
    
    &:not(:first-child) { 
      border-left: 1px solid var(--c-text); 
    }
  }

  /* typography */
  & span {
    @media (--sm) {
      display: block;
      margin-bottom: var(--s-1);
    }
  }

  & p {
    font-weight: 500;
    margin-bottom: 0;
  }

  p a {
    @include underlineLink();
    letter-spacing: 0.075em;
  }

  /* &--single {
    text-align: center;
  } */
}



/* End of article supporters logos (using vendor.family) */

.Post-supporters {
  opacity: 0.5;
}

.Post-supporters img {
  display: inline-block;
  height: 35px;
  margin-top: var(--flex-grid-gutter);
  margin-bottom: var(--flex-grid-gutter);

  @media (--xl) {
    height: 45px;
    width: auto;
  }

  &.portrait {
    height: 52.5px;
    width: auto;

    @media (--sm) { 
      height: 65px; 
    }
  }
}
