

// --------------------------------------------------------------------------
//   COMPONENT: BLOG POSTS
// --------------------------------------------------------------------------


// Posts grid using 'c.grid':
//
//.o-grid {
//    display: flex;
//    flex-wrap: wrap;
//}
//
//.o-grid > * {
//    flex: 1 0 5em;
//}
// --------------------------------------------------------------------------

.c-postGrid > * {
    flex-basis: 50vw;

    @include media-breakpoint-up(sm) {
        //flex-basis: calc(20vw - 2px);
        flex-basis: 20vw;
    }
}

// 1px border for each cell
.c-postGrid .c-postCell:not(:first-child),
.c-postGrid--inPost .c-postCell:not(:first-child) {
    .FlexEmbed {
        margin-left: 1px;
    }
}

.c-postGrid .FlexEmbed-ratio {
    padding-bottom: 25vh;

    @include media-breakpoint-up(sm) {
        padding-bottom: 50vh;
    }
}

// for c-post-next/prev
.c-postGrid--inPost {
    > * {
        flex-basis: 50%;
        @include media-breakpoint-up(sm) { flex-basis: 20%; }
    }

    .FlexEmbed-ratio {
        padding-bottom: 12.5vh;
        @include media-breakpoint-up(sm) { padding-bottom: 25vh; }
    }
}




// Post cell in a list
// --------------------------------------------------------------------------

a.c-postCell {
	@include complexLink();
	border: 0;
	margin-bottom: 1px;
	position: relative;

	@include on-event() {
		.c-postCell-headline,
		.c-postCell-subheadline {
			@include baseTransition();
			color: palette(brand);
		}

        .c-imageBlend {
			@include baseTransition();
            background-color: rgba( palette(text), 0.88 );
        }
	}
}

.c-postCell-headline,
.c-postCell-subheadline {
	@include baseTransition();
    @include textAside();
    color: palette(white);
    padding: 0 15%;
    text-align: center;

    &:not(:first-child) {
        margin-top: space(0.25);
    }
}

.c-postCell-subheadline {
    display: block;
    font-family: $font-text-regular;
}



// Post hero
// --------------------------------------------------------------------------

.FlexEmbed-ratio--hero {
    padding-bottom: 90%;
    padding-bottom: 90%;
    @include media-breakpoint-up(sm) { padding-bottom: 56.25%; padding-bottom: 50vh; }
    @include media-breakpoint-up(xl) { padding-bottom: 50%; padding-bottom: 81.5vh; }
}

.c-post-hgroup {
    margin: ($blockSpace * 0.75) 0;

    &--center {
        .c-post-headline {
            letter-spacing: 0.45em;
        }

        .c-post-subheadline {
            @include headlineSm();
            font-family: $font-text-bold;
        }

        .c-post-headline,
        .c-post-subheadline {
            color: palette(white);
            text-align: center;
            width: 100%;

            @include media-breakpoint-down(sm) {
                padding: 5%;
            }
        }
    }
}

.c-post-headline {
    @include headline();

    @include media-breakpoint-up(sm) {
        width: 80%;
        margin-left: 0;
    }
}

.c-post-subheadline {
    margin-top: space(0.5);

    p {
        @include textMeta();
        color: palette(medium);
        margin-bottom: 0;
    }
}

//.c-post-endline {
//    @include textXs();
//    border-top: 1px solid palette(light);
//    color: palette(medium);
//    margin-top: $paragraphSpace * 2;
//    padding-top: space(0.5);
//
//    a {
//        @include underlineLink();
//    }
//}





// Post article
// --------------------------------------------------------------------------

.c-post-article {
    margin-top: ($blockSpace * 0.75);
    margin-top: ($blockSpace * 1.25);
}

.s-post {
    p,
    ul,
    a {
        font-family: $font-serif;
        letter-spacing: 0;
    }

    p:first-child {
        //@include textLg();
        //font-family: $font-serif;

        //@include headlineSm();
        //font-family: $font-text-bold;
        //margin-bottom: $blockSpace * 0.75 * 0.5;


        //font-size: 27px;
        //letter-spacing: 0.0125em;
        //line-height: 1.35;
    }

    a {
        @include underlineLink();
    }

    // capitalised bold sans
    strong {
        text-transform: uppercase;
    }

	h2 {
		//@include textRg();
        @include headlineSm();
        font-family: $font-text-bold;

        @include media-breakpoint-up(sm) {
            width: 85%;
        }

        &:not(:first-child) {
            margin-top: $blockSpace * 0.75;
		}

        &:not(:last-child) {
            margin-bottom: $paragraphSpace;
            margin-bottom: $blockSpace * 0.75 * 0.5;
		}
	}

    hr {
        border: 0;
        border-top: 1px solid palette(light);
		margin: $paragraphSpace * 2 0;
    }

    blockquote p {
        border-left: 1px solid palette(muted);
        color: palette(medium);
        padding-left: space(1);
    }

    @include media-breakpoint-up(sm) {
        margin-right: $gutterSpace * 2;
    }

}









// Post aside
// --------------------------------------------------------------------------

//.s-aside {
//    border: 1px solid palette(text);
//    padding: space(0.25) space(0.5) space(0.5);
//}

.c-post-meta {
    &:not(:last-child) {
        border-bottom: 1px solid palette(light);
        margin-bottom: $blockSpace * 0.2;
        padding-bottom: $blockSpace * 0.2;
    }

    span,
    span a,
    li {
        @include textMetaHeadline();
    }

    p {
        @include textMeta();
        font-family: $font-text-medium;
        margin-bottom: 0;
    }

    ul {
        //list-style-type: disc;
        list-style-type: upper-roman;
        margin: 0 0 0 space(0.75);
        padding-left: 0;
    }

    //a {
    //    @include underlineLink();
    //}


    // variations
    // ----------

    &--endRule {
        border-bottom-color: transparent !important;
        border-top: 1px solid palette(light);
        display: inline-block;
        margin: $blockSpace * 0.375 0 0 !important;
        padding: $blockSpace * 0.2 0 0 !important;

        a {
            @include underlineLink();
        }
    }

    &--cta,
    &--noRule {
        border: 0 !important;
        padding: 0 !important;
    }

    &--cta {
        margin-bottom: $blockSpace * 0.5;
    }

    &--noRule span,
    &--noRule span a,
    &--noRule li {
        display: inline-block;
        line-height: $base-line-height-unit;
    }

    &--share {
        &:not(:first-child) {
            margin-top: $blockSpace * 0.75;
        }

        > a {
            @include underlineLink(none);
            color: palette(muted);
            display: block;
            text-align: center;
            width: 100%;

            &:not(:first-child) {
                margin-top: -1px;
            }

            @include on-event() {
                color: palette(muted);
            }
        }
    }
}

// using vendor.family
.c-post-supporters {
    margin-bottom: $paragraphSpace * 0.5;

    img {
        margin-top: $paragraphSpace * 0.75;
        margin-left: $paragraphSpace;
        width: 25%;

        @include first-child() { margin-left: 0; }
        @include every(4) { margin-left: 0; }

        @include media-breakpoint-up(sm) {
            @include first-child() { margin-top: $paragraphSpace * 0.5; }
            @include all-but(1) { margin-top: $paragraphSpace * 1.25; }
            margin-left: 0;
            width: auto;
        }
    }
}









// Post info
// --------------------------------------------------------------------------

.c-post-info {
    //background-color: palette(brand);
    //background-color: palette(text);
    //margin-top: 1px;
    //padding: $blockSpace * 0.75 0;
    //margin-top: $blockSpace * 1.25;

    //bottom: -#{space(1)};
    position: absolute; // remove from the flow
    transform: translateY(-100%);
    width: 100%;
}

.c-post-info .c-postGrid {
    margin: 0;
}

.c-post-info .c-postGrid > * {
    flex: 1 0 0;
    flex-basis: calc(10vw - 2px);
    flex-basis: 5em;
    margin: 0;

    @include media-breakpoint-up(sm) {
        //flex-basis: calc(20vw - 2px);
    }
}

.c-post-info .s-aside {
    border: 0;
    padding: 0;
}

$asideColor: text;

.c-post-info .c-post-meta {
    background-color: palette(background);
    border: 0;
    margin: 0;
    padding: $blockSpace * 0.125 $blockSpace * 0.25;

    &:not(:first-child) {
        border-left: 1px solid palette($asideColor);
        //margin-left: -1px;
    }

    span,
    span a,
    li {
        color: palette($asideColor);
        font-family: $font-text-black;
    }

    p {
        color: palette($asideColor);
    }
}

.c-post-info .c-post-meta--cta {
    border: 1px solid palette($asideColor) !important;

    .t-button--primary {
        background-color: palette(brand);
        border: 0;
        color: palette(background);
        height: 100%;
        margin: 0 !important;
        width: 100%;

        &:after {
            display: none;
        }
    }
}





// Post next/prev
// --------------------------------------------------------------------------

.c-post-next {
    margin-top: $blockSpace;

    h3 {
        margin-bottom: $blockSpace * 0.5;
    }
}
