

// --------------------------------------------------------------------------
//   FOOTER
// --------------------------------------------------------------------------


.c-footer {
    margin: $blockSpace 0;
	position: relative;
}

.c-footer-logo > img {
    margin-bottom: $blockSpace;
    width: 150px;

    @include media-breakpoint-up(sm) {
        width: 200px;
    }
}
