

// --------------------------------------------------------------------------
//   HEADER LAYOUT
// --------------------------------------------------------------------------


//use padding so we can go exactly 'back to top'
.c-header {
    padding: ($blockSpace * 0.6) 0 ($blockSpace * 0.75);
	position: relative;

    @include media-breakpoint-up(sm) {
        //padding: ($blockSpace * 0.75) 0;
    }
}

.c-header-brand {
    @include media-breakpoint-up(sm) {
        margin-bottom: $blockSpace * 0.75;
        //margin-top: $blockSpace * 0.75;
    }
}

.c-header-logo > img {
    margin-bottom: 0;
    width: 150px;

    @include media-breakpoint-up(sm) {
        width: 300px;
    }
}

.c-nav {
    //@include listInline();
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 space(1.5);

    //@include media-breakpoint-up(sm) { max-width: container-width(xl); }
    //@include media-breakpoint-up(lg) { max-width: none; }
    @include media-breakpoint-up(lg) { padding: 0 4%; }
    @include media-breakpoint-up(xl) { padding: 0 12%; }
    @include media-breakpoint-up(su) { padding: 0 18%; }

    @include media-breakpoint-down(sm) {
        // mobile nav takes over here…
        display: none;
    }
}

.c-nav-item {
    //@include listInline();
    flex-shrink: 1;
    margin: 0;

    // theme
    a {
        @include textAside();
        border-bottom: 1px solid transparent;
        font-family: $font-text-bold !important;
        padding-bottom: 6px;

        @include media-breakpoint-down(sm) {
            line-height: map-fetch($button-height, concise);
        }
    }

    &.is-active {
        a {
            border-color: palette(text);
        }
    }

    @include on-event() {
        a {
            border-color: palette(text);
            font-family: $font-text-bold;
        }
    }
}

.c-nav-trigger {
    @include textAside();
    border: 1px solid palette(light);
    border-radius: 3px;
    height: 107%;
    padding: 6px 12px;
    position: absolute;
    right: space(1);
    top: 0;

    @include media-breakpoint-up(sm) {
        display: none;
    }
}

// the address/open text in the header
.c-header-infoAlign {
    border-bottom: 1px solid palette(brand);
    //padding-bottom: $blockSpace * 0.2;
    padding-bottom: 7px;
    transform: translate(0, 7px);
}

.c-header-info {
    @include textAside();
    color: palette(brand);
    //font-family: $font-text-bold;
    //font-family: $font-serif;
}
