

// --------------------------------------------------------------------------
//   FOOTER
// --------------------------------------------------------------------------


.c-footer {
    margin: $blockSpace 0;
	position: relative;

    @include media-breakpoint-up(sm) {
        //margin: $blockSpace 0;
    }
}

.c-footer-nav {
    margin: $blockSpace * 1.5 0;

    @include media-breakpoint-down(sm) {
        border-top: 1px solid palette(light);
        margin-top: $blockSpace;
        padding-top: $blockSpace;
    }
}

.c-footer-block {
    @include media-breakpoint-down(sm) {
        border-top: 1px solid palette(light);
        margin-top: $blockSpace;
        padding-top: $blockSpace;
    }
}

.c-footer-logo > img {
    margin-top: 0;
    //opacity: 0.25;
    width: 150px;

    @include media-breakpoint-up(sm) {
        //margin-top: -($blockSpace * 0.25);
        width: 180px;
    }
}

//.c-footer li {
//    @include textXs();
//}

.c-footer {
    p,
    ul,
    li,
    a {
        @include textAside();
        //color: palette(muted);
    }
}

.c-footer .o-listClean {
    margin-bottom: 0;
}

.c-footer .c-nav-item {
    &:not(:first-child) {
        margin-top: space(0.25);
    }

    &.is-active a {
        border-color: currentColor;
    }
}

.c-footer-socialBlock {
    border-top: 1px solid palette(text);
    margin-top: space(0.75);
    padding-top: space(1);

}


// hide the logo on mobile when the info is not of adequate amount
.c-footer-hideMobileLogo {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}
