

// --------------------------------------------------------------------------
//   NAV LAYOUT
// --------------------------------------------------------------------------


.c-nav {
    //@include listInline();
    display: flex;
    justify-content: space-between;
    margin: 0;
    //max-width: container-width(lg);
    padding: 0 space(1.5);

    //@include media-breakpoint-up(sm) { max-width: container-width(xl); }
    //@include media-breakpoint-up(lg) { max-width: none; }
    @include media-breakpoint-up(lg) { padding: 0 4%; }
    //@include media-breakpoint-up(xl) { padding: 0 12%; }
    //@include media-breakpoint-up(su) { padding: 0 18%; }
    @media (min-width: 1440px) { padding: 0 12%; }
    @media (min-width: 2000px) { padding: 0 18%; }

    @include media-breakpoint-down(sm) {
        // mobile nav takes over here…
        display: none;
    }

    // footer
    @include when-inside(".c-footer") {
        margin-bottom: $blockSpace * 1.25;

        @include media-breakpoint-down(sm) {
            border-top: 1px solid palette(light);
            margin-top: $blockSpace;
            padding-top: $blockSpace;
        }
    }
}

.c-nav-item {
    //@include listInline();
    flex-shrink: 1;
    margin: 0;

    // theme
    a {
        @include textAside();
        border-bottom: 1px solid transparent;
        font-family: $font-text-bold !important;
        padding-bottom: 6px;

        @include media-breakpoint-down(sm) {
            line-height: map-fetch($button-height, concise);
            padding-bottom: 1px;
        }
    }

    &.is-active {
        a {
            border-color: palette(text);
        }
    }

    @include on-event() {
        a {
            border-color: palette(text);
            font-family: $font-text-bold;
        }
    }

    // footer
    @include when-inside(".c-footer") {
        @include media-breakpoint-down(sm) {
            &:not(:first-child) { margin-top: $footerRowSpacer; }
        }

        &.is-active a { border-color: currentColor; }
    }
}


.c-nav-trigger {
    @include textAside();
    border: 1px solid palette(light);
    border-radius: 3px;
    // height: 105%;
    line-height: 2 !important;
    padding: 6px 12px;
    position: absolute;
    right: space(1);
    top: 0;

    &:before {
        content: '\2630';
        margin-right: 3px;
    }

    @include media-breakpoint-up(sm) {
        display: none;
    }
}