

// --------------------------------------------------------------------------
//   COMPONENT: BLOG POSTS
// --------------------------------------------------------------------------


// Post cell in a list.
// When a post is also a link.
// These are vertically & horizontally centered.
// See: https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/
// --------------------------------------------------------------------------

//a.c-postCell {
//	@include o-aligner;
//
//	> .Post-aligner {
//		@include o-aligner-item;
//	}
//}

a.c-postCell {
	@include complexLink();
	border: 0;
	margin-bottom: 2px;
	position: relative;

	+ .c-postCell {
		margin-top: $blockSpace / 2;
	}

	@include on-event() {
		.c-postCell-headline {
			@include baseTransition();
			color: palette(brand);
		}

        .c-imageBlend {
			@include baseTransition();
            background-color: rgba( palette(text), 0.88 );
        }
	}
}

.c-postCell-headline {
	@include baseTransition();
    @include headlineXs();
    color: palette(white);
    display: block;
    padding: 0 15%;
    text-align: center;
}

.c-postCell-headline + .c-postCell-headline {
    margin-top: space(0.5);
}



// Posts
// --------------------------------------------------------------------------

.FlexEmbed-ratio--hero {
    padding-bottom: 90%;
    padding-bottom: 90%;
    @include media-breakpoint-up(sm) { padding-bottom: 56.25%; padding-bottom: 50vh; }
    @include media-breakpoint-up(xl) { padding-bottom: 50%; padding-bottom: 82vh; }

    // conservative
    //padding-bottom: 75%;
    //@include media-breakpoint-up(sm) { padding-bottom: 75%; }
}

.c-post-hgroup {
    margin: ($blockSpace * 0.75) 0;

    &--center {
        .c-post-headline,
        .c-post-subheadline p {
            color: palette(white);
            font-family: $font-text-bold;
            text-align: center;
            width: 100%;
        }

        .c-post-headline {
            letter-spacing: 0.45em;
        }
    }
}

.c-post-ledeSpacer {
    margin-top: ($blockSpace * 0.75);
}

.c-post-headline {
    @include headline();

    @include media-breakpoint-up(sm) {
        width: 80%;
        margin-left: 0;
    }
}

.c-post-subheadline {
    margin-top: space(0.25);

    p {
        @include textMeta();
        color: palette(medium);
        margin-bottom: 0;
    }
}

.c-post-endline {
    @include textXs();
    border-top: 1px solid palette(light);
    color: palette(medium);
    margin-top: $paragraphSpace * 2;
    padding-top: space(0.5);

    a {
        @include underlineLink();
    }
}


// Post markdown scopes

.s-post {
    @include media-breakpoint-up(sm) {
        margin-right: $gutterSpace * 2;
    }

    p,
    ul,
    a {
        font-family: $font-serif;
    }

    // capitalised bold sans
    strong {
        text-transform: uppercase;
    }

	h2 {
		//@include textRg();
        @include headlineSm();
        font-family: $font-text-bold;

        @include media-breakpoint-up(sm) {
            width: 85%;
        }

        &:not(:first-child) {
            margin-top: $blockSpace * 0.75;
		}

        &:not(:last-child) {
            margin-bottom: $paragraphSpace;
            margin-bottom: $blockSpace * 0.75 * 0.5;
		}
	}

    a {
        @include underlineLink();
    }


    hr {
        border: 0;
        border-top: 1px solid palette(light);
		margin: $paragraphSpace * 2 0;
    }

    blockquote p {
        border-left: 1px solid palette(muted);
        color: palette(medium);
        padding-left: space(1);
    }

    // for photo credits only
    //em {
    //    @include textXs();
    //    border-top: 1px solid palette(light);
    //    color: palette(medium);
    //    display: block;
	//	margin-top: $paragraphSpace * 2;
	//	padding-top: space(0.5);
    //}
}





// Aside metas
// --------------------------------------------------------------------------

.c-post-meta {
    border-bottom: 1px solid palette(light);
    margin-bottom: $blockSpace * 0.2;
    padding-bottom: $blockSpace * 0.2;

    &:not(:last-child) {
        //border-bottom: 1px solid palette(light);
        //margin-bottom: $blockSpace * 0.25;
        //padding-bottom: $blockSpace * 0.25;
    }

    .Button {
        margin-bottom: 6px !important;
    }

    span,
    span a,
    li {
        @include textMetaHeadline();
    }

    span {
        //display: block;
    }

    p {
        @include textMeta();
        font-family: $font-text-medium;
        margin-bottom: 0;
    }

    ul {
        //list-style-type: disc;
        list-style-type: upper-roman;
        margin: 0 0 0 space(0.75);
        padding-left: 0;
    }

    &--cta {
        border: 0 !important;
        padding: 0 !important;
    }
}

// using vendor.family
.c-post-supporters {
    img {
        margin-top: $paragraphSpace * 0.75;
        margin-left: $paragraphSpace;
        width: 25%;

        @include first-child() { margin-left: 0; }
        @include every(4) { margin-left: 0; }

        @include media-breakpoint-up(sm) {
            @include first-child() { margin-top: $paragraphSpace; }
            @include all-but(1) { margin-top: $paragraphSpace * 1.25; }
            margin-left: 0;
            width: 55%;
        }
    }
}
