

// --------------------------------------------------------------------------
//   HEADER LAYOUT
// --------------------------------------------------------------------------


.c-header {
    //margin: space(1) 0 ($blockSpace * 0.75);
    margin: ($blockSpace * 0.75) 0;
	position: relative;

    @include media-breakpoint-up(sm) {
        margin: ($blockSpace * 0.5) 0 ($blockSpace * 0.75);
    }
}

.c-header-logo > img {
    margin-bottom: 0;
    width: 160px;

    @include media-breakpoint-up(sm) {
        margin-bottom: $blockSpace * 0.75;
        width: 300px;
    }
}

.c-subscribeForm {
    position: absolute;
    right: space(1);
    top: space(1);

    @include media-breakpoint-up(sm) {
        right: space(1.5);
    }
}

.c-nav {
    //@include listInline();
    display: flex;
    justify-content: space-between;
    margin: 0;
}

// WIP
.c-subscribeForm,
.c-nav {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}



.c-nav-item {
    //@include listInline();
    flex-shrink: 1;
    margin: 0;

    // theme
    a {
        @include textAside();
        border-bottom: 1px solid transparent;
        padding-bottom: 4px;

        @include media-breakpoint-down(sm) {
            line-height: map-fetch($button-height, concise);
        }
    }

    &.is-active {
        a {
            border-color: palette(text);
            font-family: $font-text-bold;
        }
    }

    @include on-event() {
        a {
            border-color: palette(text);
            font-family: $font-text-bold;
        }
    }
}


.c-nav-trigger {
    @include textAside();
    border: 1px solid palette(light);
    border-radius: 3px;
    //font-family: $font-text-medium;
    height: 107%;
    padding: 6px 12px;

    position: absolute;
    right: space(1);
    //top: space(1);

    @include media-breakpoint-up(sm) {
        display: none;
    }
}




// content

.c-content {
    @include media-breakpoint-up(sm) {
        min-height: 500px;
    }
}
