// Utility: Responsive line break
// https://css-tricks.com/injecting-line-break/
// 1. emulates text-align: center
// --------------------------------------------------------------------------

@include media-breakpoint-down(lg) {
    span.u-lg-lineBreak {
        display: table !important;
        margin: auto; // 1.
    }
}

@include media-breakpoint-up(sm) {
    .u-sm-lineBreak {
        display: table !important;
        //margin: auto; // 1.
    }
}

@include media-breakpoint-down(sm) {
    span.u-smDown-lineBreak {
        display: table !important;
        //margin: auto; // 1.
    }
}

@include media-breakpoint-down(sm) {
    .u-smDown-hide {
        display: none !important;
    }
}
