

// --------------------------------------------------------------------------
//   HEADLINE TYPOGRAPHY
// --------------------------------------------------------------------------


// Common theme…

@mixin headlineTemplate(
	$mixinSize: headline,
	$mixinColor: palette(text),
	$mixinFont: $font-text-medium,
	$mixinLetterSpacing: 0,
	$mixinLineHeight: 1.25,
	$mixinMarginBottom: 0
) {

	// standards
	color: $mixinColor;
	font-family: $mixinFont;
	letter-spacing: $mixinLetterSpacing;
	line-height: $mixinLineHeight;
	//margin-left: auto;
	//margin-right: auto;
	margin-bottom: $mixinMarginBottom;
	text-align: left;

	// sizes
	font-size: fontsize($mixinSize, xs);
	@include media-breakpoint-up(sm) { font-size: fontsize($mixinSize, sm); }
	@include media-breakpoint-up(lg) { font-size: fontsize($mixinSize, lg); }

	// children
	> li,
	> li a,
	> a {
		border-bottom: 0;
		color: currentColor;
		font-family: inherit;
		font-size: inherit;
		margin: 0;
	}
}


// Component by size…

@mixin display() {
    @include headlineTemplate(
        $mixinLetterSpacing: -0.005em,
        $mixinLineHeight: 1.1,
        $mixinSize: display
    );
}

@mixin headline() {
	@include headlineTemplate(
		$mixinSize: headline,
        $mixinLetterSpacing: 0.25em
	);
    text-transform: uppercase;
}

@mixin headlineMd() {
    @include headlineTemplate(
    	$mixinFont: $font-text-regular,
        $mixinSize: headline--xs,
        $mixinLetterSpacing: 0.25em
    );
    text-transform: uppercase;
}

@mixin headlineSm() {
    @include headlineTemplate(
        $mixinSize: headline--sm,
        $mixinLetterSpacing: 0.125em
    );
    font-family: $font-text-medium;
    text-transform: uppercase;
}

@mixin headlineXs() {
    @include headlineTemplate(
        $mixinSize: text--sm,
        $mixinLetterSpacing: 0.1em
    );
    font-family: $font-text-medium;
    text-transform: uppercase;

}




// Component: headline
// --------------------------------------------------------------------------

.c-display          { @include display(); }
.c-headline         { @include headline(); }
.c-headline--md     { @include headlineMd(); }
.c-headline--sm     { @include headlineSm(); }
.c-headline--xs     { @include headlineXs(); }


.c-headline em {
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
}






// Component: headline blocks.
// --------------------------------------------------------------------------

// .Headline-block { > * { @include headline(); } }
