

// --------------------------------------------------------------------------
//   OBJECT: SVG ICONS
//   Ripped from OUI icons
// --------------------------------------------------------------------------


.u-iconWrapper {
	//cursor: pointer;
	//display: inline-block;
	//margin: -30px;
	//padding: 30px;
}

//.u-iconWrapper + .u-iconWrapper {
//	margin-top: space(0.5);
//}

// .#{$namespace}Icon,
.o-icon {
	cursor: pointer;
	display: inline-block;
	fill: currentColor;
	height: 32px;
	line-height: 1;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 32px;

	@include on-event() {
		outline: 0;
	}

	&--stroke {
        fill: transparent;
		stroke: currentColor;
		stroke-width: 2px;
		stroke-linejoin: round;
	}

	// 24:18 ratio
	&--nav {
		height: 20px;
		margin-left: 12px;
		width: 15px;
	}

	&--sm {
        height: 10px;
        vertical-align: baseline;
		width: 10px;

		@include media-breakpoint-up(sm) {
			width: 11px;
			height: 11px;
		}
	}

	&--md {
		width: 27px;
		height: 27px;

		@include media-breakpoint-up(sm) {
			width: 36px;
			height: 36px;
		}
	}

	&--lg {
		width: rem(32);
		height: rem(32);
	}

	&--xl {
        border: 1px solid currentColor;
		height: 48px;
        width: 48px;

        @include media-breakpoint-up(sm) {
			height: 60px;
            width: 60px;
		}
	}

	&--super {
		width: rem(40);
		height: rem(40);

		@include media-breakpoint-up(sm) {
			width: rem(48);
			height: rem(48);
		}
	}

	&--left {
		margin-right: 3px;

		@include media-breakpoint-up(sm) {
			margin-right: 4px;
		}
	}

	&--leftSm {
		margin-right: 1px;

		@include media-breakpoint-up(sm) {
			margin-right: rem(2);
		}
	}

	&--right {
		margin-left: 8px;

		@include media-breakpoint-up(sm) {
			margin-left: 12px;
		}
	}

	&--rightSm {
		margin-left: 1px;

		@include media-breakpoint-up(sm) {
			margin-left: rem(2);
		}
	}

	// This is a vertical alignment fix when used to the right of `.#{$namespace}icon`.
	+ [class^="#{$namespace}-arrow-inline"] {
		vertical-align: super;
	}

	&--textAlign {
		// vertical-align: sub;
		line-height: inherit;
		transform: translateY(-2px);
		vertical-align: middle;
	}

	&--textLgAlign {
		transform: translateY(1px);
	}

	&--buttonAlign {
		line-height: inherit;
		transform: translateY(-2px);
		vertical-align: middle;
	}

	&--formAlign {
		position: relative;
		vertical-align: top;
	}

	&--mediaAlign {
		transform: translateY(rem(-4));
	}
}

/// Icon alignment fixes
/// @description Fix for icons inside buttons with text and icons inside tabs.

// .#{$namespace}button .#{$namespace}Icon {
//   vertical-align: sub;
// }
//
// .#{$namespace}tabs-nav__item .#{$namespace}icon {
//   vertical-align: sub;
// }
