---
layout: compress
---

<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

{% include head.html %}

<body id="top" class="{{ page.body_class }}">

    {% include header.html %}

    <main
        class="c-content
        {% if page.layout == 'post' %} c-content--post{% endif %}
        {% if page.layout == 'page' and page.url != '/404.html' %} c-content--page{% endif %}"
        aria-label="Content">
        {{ content }}
    </main>

    {% include footer.html %}
    {% include icons.html %}

    {% if page.has-javascripts == true %}
        {% include javascripts.html %}
        {% if page.has-form == true %}
            {% include javascripts-form.html %}
        {% endif %}
    {% endif %}

    {% include google-analytics.html %}

</body>

</html>
