<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

    {% include head.html %}

<body id="top">

    {% include header.html %}

    <main
        class="c-content
        {% if page.layout == 'post' %} c-content--post{% endif %}
        {% if page.layout == 'page' %} c-content--page{% endif %}"
        aria-label="Content">
        {{ content }}
    </main>

    {% include footer.html %}
    {% include icons.html %}

    {% if page.has-form != null %}
        {% include javascripts-form.html %}
    {% endif %}
    {% include google-analytics.html %}

</body>

</html>
