---
layout: default
---

{% comment %}
{{ page.events | where: "categories", "whats-on" | replace: ' ', '-' | downcase }}

<div class="">
  {{ page.events.url }}
</div>
{% endcomment %}

<header role="banner">
  <div class="PostList-item bg-text">
    <div class="AspectRatio AspectRatio--16x9">
      {% if page.vimeo %}
        <iframe 
          class="AspectRatio-object" 
          src="https://player.vimeo.com/video/{{ page.vimeo }}?background=1&autoplay=1&loop=1&byline=0&title=0"
          width="100%" height="100%" frameborder="0" allowTransparency="true" webkitallowfullscreen
          mozallowfullscreen allowfullscreen>
        </iframe>
      {% else %}
        <div class="AspectRatio-object">
          {% assign image = page.banner-image %}
          {% include responsive-img.html %}
        </div>
      {% endif %}
      <a 
        class="AspectRatio-object"
        href="
          {% if page.pages contains 'What' %}/whats-on
          {% elsif page.pages %}/{{ page.pages | replace: ' ', '-' | replace: ':', '' | downcase }}
          {% elsif page.events %}/whats-on/{{ page.events | replace: ' – ', ' ' | replace: ' - ', ' ' | replace: '-', '' | replace: ':', '' | replace: '…', '' | replace: '.', '' | replace: ' ', '-' | downcase }}
          {% else %}/whats-on{% endif %}"
      ></a>
    </div>
  </div>
</header>

<div class="FlexGrid FlexGrid--noGutter PostList">
  {% assign categoryName = 'whats-on' %}
  {% assign homePosts = site.categories[categoryName] | sort: "date" %}
  {% for post in homePosts %}
  {% if post.is-on-home-page %}
  {% include post-list-item.html %}
  {% endif %}
  {% endfor %}
</div>