{% if page.show-event-in-mins %}{{ event | first | date: "%a %B %d" }}, {{ event | first | date: "%l:%M%p" }}-{{ event | first | date: "%l:%M%p" }}{% else %}{{ event | first | date: "%a %B %d" }}, {{ event | first | date: "%l:%M%p" }}-{{ event | first | date: "%l:%M%p" }}{% endif %}




{% for event in page.list-event-dates %}

    {% comment %}Iterate thru event dates collection{% endcomment %}
    {% if page.list-event-dates.size == 2 and page.program-is-single-date == true %}
        <p>
            {{ event | date: "%a %B %d" }}, {{ event | first | date: "%l:%M%p" }}-{{ event | first | date: "%l:%M%p" }}
            {{ }}
        </p>
    {% elsif page.list-event-dates.size >= 2 and page.program-is-single-date != true %}
        <p>
            {% if page.show-event-in-mins %}{{ event | date: "%a %B %d" }}, {{ event | date: "%l:%M%p" }}{% else %}{{ event | date: "%a %B %d" }}, {{ event | date: "%l%p" }}{% endif %}
        </p>
    {% endif %}
{% endfor %}


{% comment %}Swap note depending on number in collection{% endcomment %}
{% if page.list-event-dates.size <= 2 and page.program-date-is-single == true %}
    <span>Date:</span>
{% elsif page.list-event-dates.size == 2 or 3 %}
    <span>Dates:</span>
{% else %}
    <span>Program runs:</span>
{% endif %}



{% comment %}
    -------------------------------------------
    show-event-period or show-event-period-in-hrs
    -------------------------------------------
{% endcomment %}
{% if page.show-event-period-in-hrs == true %}
    <div class="c-post-meta">
        <p>
            <span>Date:</span>
            {{ page.start-date | date: "%B %d" }} {{ page.start-date | date: "%l:%M%p" }} - {{ page.end-date | date: "%l:%M%p" }}
        </p>
        {% comment %} show-event-week-times-text {% endcomment %}
        {% if page.show-event-week-times-text == true %}
            <p>From {{ page.show-event-week-times-text }}</p>
        {% endif %}
    </div>
{% elsif page.show-event-period == true %}
    <div class="c-post-meta">
        <p>
            <span>Show runs:</span>
            {{ page.start-date | date: "%B %d" }} - {{ page.end-date | date: "%B %d" }}
        </p>
        {% comment %} show-runs-week-times-text {% endcomment %}
        {% if page.show-event-week-times-text == true %}
            <p>From {{ page.show-event-week-times-text }}</p>
        {% endif %}
    </div>
{% endif %}
