---
layout: compress
---

<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

{% include head.html %}

<body id="top" class="{{ page.body_class }} {{ page.grid-max-number }}">

    <header class="c-header">
        <div class="Container Container--xl">
            <div class="c-header-brand">
                <div class="Grid Grid--withGutter">
                    <div class="Grid-cell u-sm-size7of10">
                        <a href="/" class="c-header-logo">
                            <img class="" src="{{ site.imageurl }}logo.png" alt="{{ site.title }}" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="c-content c-content--page" aria-label="Content">
        <div class="Container Container--xl">
            <div class="Grid Grid--withGutter">
                <div class="Grid-cell u-sm-size7of10 u-xl-size8of10 u-smDown-blockT--3by4">
                    <div class="s-post">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include footer.html %}
    {% include icons.html %}

    {% include google-analytics.html %}

</body>

</html>