---
layout: compress
---

<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

{% include head.html %}

<body id="top" class="{{ page.body_class }} {{ page.grid-max-number }}">

    <header class="c-header">
        <div class="Container Container--xl">
            <div class="c-header-brand">
                <div class="Grid Grid--withGutter">
                    <div class="Grid-cell u-sm-size7of10">
                        <a href="/" class="c-header-logo">
                            <img class="" src="{{ site.imageurl }}logo.png" alt="{{ site.title }}" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="c-content c-content--page" aria-label="Content">
        <div class="Container Container--xl">
            <div class="Grid Grid--withGutter">
                <div class="Grid-cell u-sm-size7of10 u-xl-size8of10 u-smDown-blockT--3by4">

                    <div class="s-post u-spaceB2">
                        <p>To access this page, you need a password:</p>
                    </div>

                    <form class="c-footer-newsForm u-sm-size3of4">
                        <input id="password" type="password" />
                        <button class="Button t-button t-button--lineHeight">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </main>

    {% include footer.html %}
    {% include icons.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/assets/lib/crypto-js/crypto-js.js"></script>

    <script>
        $("form").submit(function (e) {

            var hashed_slug = CryptoJS.MD5($('#password').val());

            $("body").load("/hidden/" + hashed_slug + ".html", function (response, status, xhr) {
                if (status == "error") alert("Incorrect password");
            });

            e.preventDefault();

        });
    </script>

    {% include google-analytics.html %}

</body>

</html>