/* 

  navbar that expands & collapses on scroll
  https://blog.christopherianmurphy.com/2017/05/expand-collapse-navbar/

*/

.FixedNavOnScroll {
  @media (max-width: 768px) {
    background-color: var(--c-bg);
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--rs-nav-height);
    height: auto;
    z-index: 99;
  }
}

.collapse {
  animation: collapse .5s ease forwards;
}

.open {
  animation: open .5s ease forwards;
  border-bottom: 1px solid var(--c-text);
}

@keyframes collapse {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: -100%;
  }
}

@keyframes open {
  from {
    opacity: 0;
    top: -100%;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

/* move everything below the nav */
.FixedNavOnScroll-content {
  padding-top: var(--rs-nav-height);

  @media (--mdl) {
    padding-top: 0;
  }
}