/* TEST */

@custom-selector :--not-writable &:disabled;

@define-mixin test {
  background-color: cyan !important;

  /* 
    postcss plugin order very important.
    if mixins is after preset, this style won't render!
  */
  &:hover {
    background-color: salmon !important;
  }

  /* 
    custom selector within a mixin doesn't work
    if using preset-env
  */
  :--not-writable {
    background-color: red !important;
    &::placeholder {
      color: cyan;
    }
  }
}

.Test {
  @mixin test;
}